<main>
    <div class="filter-panel">
        <h3>Filters</h3>
        <div class="source-filter filter-row">
            <label for="source-filter">{{{localize "ACTOR_BROWSER.Filter.Source"}}}</label>
            <select id="source-filter" name="source-filter" type="dropdown" placeholder="Filter Source...">
                {{selectOptions sources selected=sourceFilter localize=true valueAttr="id" labelAttr="label"}}
            </select>
        </div>
        <div class="system-filters">
            {{#> actorBrowserAdditionalFiltersPartial additionalFiltersData=additionalFiltersData}}{{/actorBrowserAdditionalFiltersPartial}}
        </div>
    </div>
    <div class="list-panel">
        <div class="search-input">
            <div class="search-row">
                <label>{{{localize "ACTOR_BROWSER.SearchName"}}}</label>
                <input type="text" class="search-name" value="{{searchName}}">
            </div>
            {{#> actorBrowserAdditionalSearchesPartial additionalSearchesData=additionalSearchesData}}{{/actorBrowserAdditionalSearchesPartial}}
        </div>
        <div>
            <table id="actor-list" class="actor-list">
                {{> actorBrowserListPartial actors=actors}}
            </table>
        </div>
    </div>
</main>