<div class="header-actor-browser action-buttons flexrow">
    <button class="open-actor-browser-button"><i class="fas fa-file-import"></i> {{{localize "ACTOR_BROWSER.OpenActorBrowser"}}}</button>
</div>