<div class="footer">
    <button data-action="select">{{#if selector}}{{{localize "ACTOR_BROWSER.Select"}}}{{else}}{{{localize "ACTOR_BROWSER.Open"}}}{{/if}}</button>
    <button data-action="close">{{{localize "ACTOR_BROWSER.Close"}}}</button>
</div>