<div class="footer">
    <button data-action="select" {{#unless selectedActor}}disabled{{/unless}}>{{selectButtonString}}</button>
    <button data-action="close">{{{localize "ACTOR_BROWSER.Close"}}}</button>
</div>